sentencepiece==0.2.0
torch==2.7.0+cu128
torch-model-archiver==0.12.0
torch-workflow-archiver==0.2.15
torchaudio==2.7.0+cu128
torchserve==0.11.1
torchtext==0.6.0
torchvision==0.22.0+cu128
transformers==4.57.1
